{# templates/Default/index.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue !</h1>
    <div>
        <img src="{{ asset('img/epicerie.jpg') }}" />   
    </div>
{% endblock %}