{# templates/Default/contact.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    <h1>{% trans %}Boutique.boutique.titre{% endtrans %}</h1>
    {% if categories is defined %}
        <div class="container">
            <div class="row">
                {% for categorie in categories %}
                    <div class="col-sm">
                        <a href="{{ path('rayon', {'idCategorie': categorie.id}) }}"><h1>
                            <img src="{{ asset(categorie.visuel) }}"/>
                            <p>{{ categorie.libelle }}</p>
                        <h1></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}